<div style="text-align: center; align-items: center;">
    <div class="card" style="width: 100%">
        <img src="../../../assets/images/profile.png" class="card-img-top img-responsive" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{account.client.nameClient}}</h4>
          <p class="card-subtitle">{{account.place.namePlace}}</p>
          <p class="card-text">{{account.address}} </p>
          <button  class="btn btn-primary"  (click)="closeSession()">Cerrar sesión</button>
        </div>
      </div>    
</div>  