<div style="text-align: center; align-items: center;">
    <div class="card" style="width: 100%">
        <img src="https://icons-for-free.com/iconfiles/png/512/avatar+human+people+profile+user+icon-1320168139431219590.png" class="card-img-top img-responsive" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{client.nameClient}}</h5>
          <p class="card-subtitle">{{client.city + ' ' + client.department}}</p>
          <p class="card-text">{{ 'Dirección: ' + client.address}} </p>
          <a href="#" class="btn btn-primary">Actualizar mis datos</a>
        </div>
      </div>
      
</div> 
